@import "./bootstrap.min.scss";
@import "~antd/dist/antd.css";
@import "./Utils.scss";

$primary: #007bff;
$lighter-blue: #e6f7ff;
$light: #f2f2f2;
$gray: #595959;
$orange: #fa8c16;
$bluegrey: #263238;
$danger: #dc3545;

* {
  margn: 0;
  padding: 0;
}

html {
  font-family: "Roboto" sans-serif;
  overflow-x: hidden;
}

// NAVBAR

.navbar-layout {
  height: 70px;
  background: $bluegrey;
}

.nav-item {
  padding: 0 1rem;
  color: #fff;
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.menu-logo {
  max-width: 238px;
  height: 70px;
  img {
    width: 80%;
    height: 80%;
  }
}

.nav-trips-list {
  border-bottom: 5px solid $bluegrey;
  span {
    margin-top: 5px;
  }
  &:hover {
    color: #fff;
    border-bottom: 5px solid $primary;
  }
}

.nav-item-login {
  display: none;
  &:hover {
    cursor: pointer;
    color: $primary;
  }
}

.nav-item-register {
  display: none;
  &:hover {
    cursor: pointer;
    color: #fff;
    filter: brightness(120%);
  }
}

.nav-item-active {
  height: 70%;
  padding: 0 1rem;
  background: $primary;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.register-selection {
  padding: 2rem;
  border: 1px solid $light;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    border: 1px solid $primary;
    background-color: $light;
  }
}

.fixed-bottom-item {
  background: $bluegrey;
  opacity: 0.8;
  padding: 1rem 0;
}

.login-alert {
  margin-bottom: 1rem;
  color: $danger;
}

// END OF NAVBAR

// HOME PAGE
.landing {
  background: url("https://api.xedike.vn/StaticFiles/TopImage/Default/img_topbg_home.png?_t=1520592869.56458")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

.introduction {
  background-color: #fff;
  padding: 70px 0;
}

.why {
  padding: 50px 0;
  background-color: $lighter-blue;
}

.our-number {
  background: url("https://api.xedike.vn/StaticFiles/BottomImage/Default/img_background_static.png?_t=1520592870.77665")
    no-repeat center center/cover;
}

.dark-overlay {
  padding: 70px 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.promote {
  background-color: $orange;
}
// END OF HOME PAGE

// TRIPS LIST PAGE
.trips-list-steps {
  background-color: #fff;
}

.trips-list-card {
  width: 100%;
}

.trips-list-title {
  i {
    font-size: 32px;
    color: $primary;
    margin-right: 1rem;
  }
}
// END OF TRIPS LIST PAGE

// FOOTER
// END OF FOOTER
